
<table>
<thead>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Cargo</th>
    <th>Status (F/P)</th>
  </tr>
</thead>

<%= form_with(model: frequencia_evento) do |form| %>

  <% if frequencia_evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frequencia_evento.errors.count, "error") %> prohibited this frequencia_evento from being saved:</h2>

      <ul>
        <% frequencia_evento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<tbody>
  <% @pessoas.each do |pessoa| %>
    <tr>
      <td><%= pessoa.nome %>
      <%= form.number_field :pessoa_id , value: pessoa.id %>
      </td>
      <td><%= pessoa.tipo %></td>
      <td><%= pessoa.cargo %></td>
      <!-- check_box -->
      <td><%= form.text_field :status %></td>

  <% end %>

  <td>

  <%= form.submit %>
  
  </td>
 </tr>
</tbody>

<% end %>

</table>

